
body {

    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    color: white;
}

header {
    width: 100%;
    text-align: center;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.wrapper-header {
    background-color: #f2f2f2;
    color: #8e2de2;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

main {
    max-width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    background: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    max-width: 80vw;
    min-width: 60vw;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.wrapper form {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.form-shortener .bi-link-45deg {
    position: absolute;
    width: 50px;
    text-align: center;
    font-size: 23px;
    pointer-events: none;
    color: #8e2de2;
}

.form-shortener input {
    height: 100%;
    width: 100%;
    padding: 0 0 0 45px;
    font-size: 20px;
    caret-color: #8e2de2;
    border: 3px solid #8e2de2;
    border-radius: 10px;
    transition: all 0.1s ease;
}

.form-shortener, .login-wrapper input:focus {
    border-color: #ad4eff;
}

.form-shortener, .login-wrapper input::placeholder {
    color: #8e2de2;
}

.form-shortener button {
    border-radius: 10px;
    position: absolute;
    right: 5px;
    padding: 5px 10px;
    background: #8e2de2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.form-shortener button:hover {
    background: #ad4eff;
}

.form-shortener input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

.form-shortener input:valid {
    padding: 0 90px 0 45px;
}

.wrapper-urls {
    width: 100%;
    border: 3px solid #8e2de2;
    border-radius: 10px;
    max-height: 44vh;
    overflow-x: scroll;
    overflow-y: scroll;
}

.wrapper-urls::-webkit-scrollbar {
    width: 0;
}

.wrapper-urls :is(.title, .data) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrapper-urls li {
    list-style: none;
    width: 100%;
    border-right: 2px solid #8e2de2;
}

.wrapper-urls li:last-child {
    border-right: 0;
}

.wrapper-urls .title li {
    background: #8e2de2;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.error {
    color: red;
}

.wrapper-urls .data li {
    word-break: break-all;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-trash-fill {
    color: #8e2de2;
    width: 50px;
    font-size: 23px;
    text-align: center;
}

.wrapper-urls .data li:nth-child(odd) {
    background: ghostwhite;
}

.wrapper-urls li:nth-child(1) {
    max-width: 35%;
}

.wrapper-urls li:nth-child(2) {
    max-width: 45%;
}

.wrapper-urls li:nth-child(3) {
    max-width: 10%;
}

.wrapper-urls li:nth-child(4) {
    max-width: 10%;
}

.header-update {
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #8e2de2;
}

.update-btn {
    background: none;
    border-color: #8e2de2;
    border-radius: 10px;
    margin-bottom: 5px;
}

.bi-arrow-repeat {
    width: 50px;
    text-align: center;
    font-size: 23px;
    color: #8e2de2;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    padding: 25px;
    max-width: 480px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
}

.popup-box.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.form-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-delete button {
    border: none;
    background: none;
}


.login-register-form {
    max-width: 50vw;
    min-width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper {
    background: white;
    border-radius: 10px;
    padding: 20px;
    color: black;
    max-width: 20vw;
    min-width: 20vw;
    position: relative;
    margin-bottom: 100px;
    min-height: 20vh;
    box-shadow: #4a00e0;
}

.login-wrapper input {
    margin-bottom: 10px;
}

.login-wrapper button {
    border-radius: 10px;
    padding: 5px 10px;
    background: #8e2de2;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.login-wrapper h3 {
    text-align: center;
}

.login-wrapper input {
    height: 100%;
    width: 100%;
    padding: 0 0 0 5px;
    font-size: 20px;
    caret-color: #8e2de2;
    border: 3px solid #8e2de2;
    border-radius: 10px;
    transition: all 0.1s ease;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}